body {
  background-color: #d5e1ef;
}
div {
  width: 320px;
  background-color: white;
  margin: auto;
 padding: 16px;  
  border-radius: 20px;
}
img {
  max-width: 100%;
  border-radius: 10px;
}
h1 {
  font-size: 22px;
  font-style: bold;
  text-align: center;
  font-family: "Outfit";
  color: #1f314f;
}
p {
  text-align: center;
  font-family: "Outfit";
  color: #7d889e;
}
